<div id="welcome-body" class="demo">

  <%= render "nav" %>
  <%= render "users/registrations/modal" %>
  <%= render "users/sessions/modal" %>
  

  <div class="container-fluid" id='storyIndex'>

      <h1 class="pager page-header"><p>There are <%= @stories.count %> stories...</p></h1>

      <div class="row story-container" > 

        <!-- <a id="prev"><div class="left-arrow"></div></a> -->

        <div class="col-md-12 owl-content">
          <div id="owl-demo" class="owl-demo owl-carousel">
            	<% @stories.each do |story| %>
            		<div>
    	          <div class="item">
                   
                    <a href="#" onclick="showStory('<%=story.id%>');return false;">
        	            <p id="item-p-<%= story.id %>">     
                        <%= short_text(50, story.story_content) %>
                      </p>
                      </a>
                	 
                 
                </div>
                 
                <div class="pager page">
                				
                			<h4 >
                				<%if(story.user!=nil) %>
                			 			<%=  story.user.username %> 
                			  <% end %>
                			 </h4>
                </div>
                </div>
              <% end %>
          </div>
          <!--# owl-demo-->
          
          <!-- <div class="custom-navigation"> <a class="btn prev">Prev</a> <a class="btn play">Auto</a> <a class="btn stop">Stop</a> <a class="btn next">Next</a> </div> -->
          <!--custom-navigation--> 
          
       </div><!--col-md-10--> 

       <!-- <a id="next"><div class="right-arrow"></div></a> -->
        
      </div><!--row fluid-->
      
      <div class="add-stories">
        <p><a href="#" id="newStory">Start a new story</a></p>
      </div>
     <div class="page-header"></div>
 			
 		 <%= render "stories/modal" %>
		 
			
    </div><!--container--> 
   <%= render "nodes/nodeBody" %>
   <%= render "comments/commentsList" %>
 
  
</div>
<!--demo end--> 

<script>

   $(function() {
			$("#newStory").click(function(e){ 
				
				$("#modal-new-story").slideDown('slow');
					 
				 return false;
			});
			 
			 
      var owl = $("#owl-demo");
      /*var next_id = "#next";
      var prev_id ="#prev";*/

      initCarousel(owl, "", "");

     owl.trigger('owl.play',2000);

      //size item
      /*var width = $(".owl-item .item").css("width");
      $(".owl-item .item").css("height",width);*/

      console.log("ready");

      /*$(".story-container").mouseover(function(){
        $(".left-arrow").show();
        $(".right-arrow").show();
      });

      $(".story-container").mouseout(function(){
        $(".left-arrow").hide();
        $(".right-arrow").hide();
      });*/
      
      //stor
      $("#story").hide();
    });

    /*    
    window.addEventListener('resize:end', function(event) {
      //size item
      $(".owl-item").css("width","auto");

    }, false);*/
		
	 //             
	 
	 

		function closeStoryIndex(){
			  $("#storyIndex").slideUp("slow");
			  
		
		}
		function openStoryIndex(){
			  $("#storyIndex").slideDown("slow");
		
		}
		
	function showStory(story_id){
		 
					var options = {
            url: "/stories/"+story_id+"/nodes/nodeFirstByStryId",
            method: "get",
            dataType: "json",
            data: {},
            success: function(dataNode) {
               var storyDiv = $("#storyDiv"); 
             	 
               storyDiv.find("#storyTitle").html("Story "+story_id);
               var node= $("#nodeTemplate").clone();
               
               node.attr('id',"nodeTemplate_"+dataNode.id);
               var closeStory=node.find("#closeStory").click(function(){
               		$("#storyDiv").slideUp("slow");
               		$("#nodeList").html("");
               		openStoryIndex();
               		
               });
               
              	
              node.find("#chapter").html("Chapter "+dataNode.level+"<small>(Author: "+getUserJson(dataNode.user_id).username+")</small>"); 
              node.find("#content").html(dataNode.content); 
              var rateCount=node.find("#rateCount");
               
						 // rateCount.html("rate("+getRateCount(story_id,dataNode.id)+")");
						 setRate(rateCount,story_id,dataNode.id);
						  var commentLink=node.find("#commentLink");
						 // commentLink.text("comment("+getCommentCount(dataNode.id)+")");
						  setComment(commentLink,dataNode.id);
						  
						 commentLink.click(function(){
						 			showComments(dataNode.id);
						 });
					
					
						  
               // new newNode
        
				      node.find("#newNode").click(function(){
				            return showNewNode(story_id,dataNode.id);
				               		   
				      });
				       //newNode end
              
              //rate
				      var rate=node.find("#rate_story_node_");
				      rate.attr('id','rate_story_node_'+dataNode.id);
				      rate.attr('action','/stories/'+story_id+'/nodes/'+dataNode.id+'/rate');
				       
				      var btnRate=node.find("#btn-rate_");
				      btnRate.attr('id','btn-rate_'+dataNode.id);
				      btnRate.click(function(){
									var rateOptions = {
				            url: '/stories/'+story_id+'/nodes/'+dataNode.id+'/rate',
				            method: "post",
				            dataType: "json",
				            data: {},
				            async: false,
				            success: function(dataNode) {
				              popup("+1", $("#btn-rate_"+dataNode.id));
					            
									},
				            error: function(data){
				               alert("showNode err");
				               return false;
				            }};
				    			$.ajax(rateOptions);
									 var rateCount=node.find("#rateCount");
		             	 setRate(rateCount,story_id,dataNode.id);
					      return false;
							 
							  }); 
				      // end rate 
              //back
              if(dataNode.level==1){
              	node.find("#backSpan").remove();
              }else{
              	node.find("#back").click(function(){
               		 //todo 
               });
              }
              //nextNodes
             
              node.find("#nextNodes").click(function(){
               		return nextNodes(story_id,dataNode.id,dataNode.level+1,"");
               		   
               });
                 
            
               
              node.appendTo($("#nodeList"));
              node.find("#prevNodeSpan").html("");
              node.show();
             	closeStoryIndex();
            	$("#storyDiv").slideDown("slow");
              //  return true;
            },
            error: function(data){
               alert("showNode err");
               return false;
            }};
    			$.ajax(options); 
		}
 		

 		
 	
 		
</script>
