<p id="notice"><%= notice %></p>
<div class="container-fluid demo">

  <%= render "welcome/nav2" %>
  <%= render "users/registrations/modal" %>
  <%= render "users/sessions/modal" %>
  <%= render "modal", object: @node %>

  <h1 class="pager view-line"><p>Story <%= @node.story.id %></p></h1>
  <h2 class=" pagination">Chapter <%= @node.level %><small>(Author: <%= @node.user.username %>)</small></h2>
  <div class="row story-container">
    <div class="col-md-12">
      <p class="story-con-p">

        <%= @node.content %>
         
      </p>
    </div>
  </div>
  <div id="node-content" class="row-fluid text-center">
    
    <div id="op-rate">

      <%= form_for :node, url: {action: "rate"}, remote: true, html: {id: "rate_story_node_#{@node.id}" } do |f| %>
          <%= f.button id: "btn-rate", class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-thumbs-up" style="vertical-align: middle"></span> rate
          <% end %>
      <% end %>

    </div>
    <div id="nav">
      <% if prev?(@node) %>
        <%= link_to 'Prev', story_node_path(@story, to_prev(@node)) %>
      <% else %>
        <span style="color:#e6e6e6">Prev</span>
      <% end %>

      <%= link_to 'Back', story_path(@story) %>

      <% if next?(@node) %>
        <%= link_to 'Next', story_node_path(@story, to_next(@node)) %>
      <% else %>
        <span style="color:#e6e6e6">Next</span>
      <% end %>
    </div>
    <div id="op-write">
      <a href="#" id="new-story-node">Continue the story</a>
    </div>
  </div>
<div class="view-line"></div>
</div>
<!--container-->

<script type="text/javascript">
  
  $(function(){

    // rate click
    $("#btn-rate").click(function(e){

      e.preventDefault();
      var form_id = "#rate_story_node_<%= @node.id %>"
      var options = {
          dataType: "json",
          success: function(data) {
            popup("+1", $("#btn-rate"));
          }
      };

      $(form_id).ajaxForm(options).submit();

      return true;

    });
  })


</script>