<h1 class="pager">My Stories</h1>
<div class="container-fluid demo" id="myStories">
    <%= render "welcome/nav2" %>
    
    <% if @stories.nil? %>
        <!-- have no stories -->
    <% else %>
      <% @stories.each do |story| %>
        <h1 class="pager view-line"></h1>
        <h2 class="pagination">
            Story <%= story.id %>
        </h2>
          <div class="col-md-12 owl-content">
          <div id="owl-demo<%=story.id%>" class="owl-demo owl-carousel">
        <% story.nodes.each do |node| %>
	       	 <div id="nodeSubListItemTemplate<%=node.id%>">
	       	 		<div class="pager page">
					                			<h4 id="noedSubAuthor">第<%=node.level%>章 </h4>
					                			 
					     </div>
							<div   class="item" style="width:400px" >
 							 					    	  <a href="#"  onClick="showMyNode('<%=story.id%>','<%=node.id%>','<%=node.level%>','<%=node.user_id%>','<%=node.content%>','<%=node.parent_id%>');return false;" id="noedSubShow_<%=node.id%>">
												      		<p class="story-con-p" id='noedSubContent'>
																			<%= short_text(50,node.content) %>
												      		</p>
												        </a>
							</div>
							 <div class="pager page">
					                				<h4 id="noedSubAuthor">有<%=node_followers(node)%>个人接着写 </h4>
					                			<h4 id="noedSubAuthor">有<%=node_comments(node)%>个评论 </h4>
					     </div>
					</div>
				<% end %>
					</div>
					</div>
      <% end %>
    <% end %>
		

    <div class="view-line">
    </div>
</div>
<div id="nodeList"></div>
 <%= render "nodes/nodeBody" %>
 <%= render "comments/commentsList" %>
<script>

   $(function() {
   <% if @stories.nil? %>
        <!-- have no stories -->
   <% else %>
      <% @stories.each do |story| %>
					var owl = $("#owl-demo<%=story.id%>");
		      initCarousel(owl, "", "");
		     	//owl.trigger('owl.play',2000);
		    
     	<% end %>
      
   <% end %>
   
   
     });
     function showMyNode(storyId,nodeId,level ,authorId,content,pNodeId){
     	$("#myStories").slideUp('slow');
       
     
     	
      	return showNode(storyId,nodeId,level ,authorId,content,pNodeId,"next","myStories");
     	//getNodeJson(storyId,nodeId);
     	//return false;
     	
     }
</script>