<div class="container-fluid demo">

    <%= render "welcome/nav2" %>
    <%= render "users/registrations/modal" %>
    <%= render "users/sessions/modal" %>
    <%= render "nodes/modal", object: @story %>

    <div class="container-fluid">
        <h1 class=" pager">
            <p>Story <%= @story.id %></p>
        </h1>
        <div class="view-line">
        </div>
        <h2 class=" pagination">
            First Chapter
            <small>
                (Author: <%= @story.user.username %>)
            </small>
        </h2>

        <div id="story" class="row story-container">
            <div class="col-md-12">
                <p class="story-con-p">
                    <%= @story.story_content %>
                </p>
            </div>
            <a href="#" id="new-story-node" class="bottom-right-1">Continue the story</a>
        </div>

        <% 
	      max = levels(@story)
	      if max > 0
	    %>
	   	 	<% (2..max).each do |level|  %>
				<div class="view-line">
	            </div>
	            <h2 class=" pagination">
	                Chapter <%= level %>
	            </h2>
	            <div id="nodes" class="row story-container" > 

                  <!-- <a id="prev-level-<= level %>"><div class="left-arrow"></div></a> -->

	                <div class="col-md-12 owl-content">

	                    <div id="owl-demo-<%= level %>" class="owl-demo owl-carousel">
          					    <% nodes_at_level(@story, level).each do |node| %>

          							<div class="item">
                            <p>
                            	<%= link_to story_node_path(@story, node) do %>
                                	<%= short_text(50, node.content) %>
                               	<% end %>
                            </p>
                        </div>

					             <% end %>

					         </div><!--# owl-demo-->
	           
	        		</div><!--col-md-10-->

              <!-- <a id="next-level-<= level %>"><div class="right-arrow"></div></a> -->

	    		</div><!--nodes row-->
			<% end %>
		<% end %>
    </div><!--container-->
</div><!-- container -->

<script type="text/javascript">
$(function() {

  var owls = $(".owl-demo");

  owls.each(function() {

  	console.log($(this).attr("id"));
      id = "#"+ $(this).attr("id");
      var owl = $(id);

/*      next_id = "#next-level-" + id.split("-")[2];
      pre_id  = "#prev-level-" + id.split("-")[2];*/

      initCarousel(owl, "", "");

  });

  $("#form-new-story-node").validate({
      rules: {
              "node[content]": {
                  required: true,
                  maxlength: 500,
                  minlength: 50
              },
      },

      highlight: function(element) {
          $(element).closest(".form-group").addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
      },

      errorElement: 'span',
      errorClass: 'help-block',
      errorPlacement: function(error, element) {
          if(element.parent('.input-group').length) {
              error.insertAfter(element.parent());
          } else {
              error.insertAfter(element.parent());
          }
      },

      submitHandler: function(form) {

        var options = {
          dataType: 'json',
          success: function(data) {
              // TODO
              // g data
              var item = '<div class="item" style="border: 2px solid #61A1DD;"><p><a href="<%= @story.id %>/nodes/' + data.id + '">' + short_text(50, data.content) + '</a></p></div>';
              // get owl-demo-x
              var owl_demo_id = "#owl-demo-" + data.level;
              var owl_demo = $(owl_demo_id);
              // if a level existed
              if(owl_demo.length)
              {
                  // yes insert at first
                  console.log("exist-level");
                  owl_demo.data('owlCarousel').addItem(item, 0);
                  
              } 
              else
              {
                  // not insert a level at right pos
                  console.log("new-level");

                  var content = '<div class="view-line"></div><h2 class=" pagination">Chapter ' + (data.level) + '</h2><div id="nodes" class="row story-container" ><a id="prev-level-' + data.level + '"><div class="left-arrow"></div></a><div class="col-md-10 owl-content"><div id="owl-demo-' + data.level + '" class="owl-demo owl-carousel"></div></div><a id="next-level-' + data.level + '"><div class="right-arrow"></div></a></div>';

                  $("#story").after(content);

                  var owl_demo_id = "#owl-demo-" + data.level;
                  var owl_demo = $(owl_demo_id);

                  next_id = "#next-level-" + data.level;
                  pre_id  = "#prev-level-" + data.level;

                  initCarousel(owl_demo, next_id, pre_id);

                  owl_demo.data('owlCarousel').addItem(item, 0);

                }
            }
         };
         jQuery(form).ajaxSubmit(options);
         // hide modal
         $("#modal-new-story-node").modal("hide");
      }
  });
});

</script>