<h1>Listing user_actions</h1>

<table>
  <thead>
    <tr>
      <th>Story</th>
      <th>Node</th>
      <th>User</th>
      <th>Action type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_actions.each do |user_action| %>
      <tr>
        <td><%= user_action.story_id %></td>
        <td><%= user_action.node_id %></td>
        <td><%= user_action.user_id %></td>
        <td><%= user_action.action_type %></td>
        <td><%= link_to 'Show', user_action %></td>
        <td><%= link_to 'Edit', edit_user_action_path(user_action) %></td>
        <td><%= link_to 'Destroy', user_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User action', new_user_action_path %>
