<!DOCTYPE html>
<html>
<head>
  <title>StoryUp</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Story up - 2k">
  <meta name="author" content="2k">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
