<!DOCTYPE html>
<html>
<head>
  <title>StoryUp</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Story up - 2k">
  <meta name="author" content="2k">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= yield %>
</body>

<script type="text/javascript">

$(function(){

  // sign-in click 
  $(".sign-in").click(function(e) {
    $("#modal-sign-up").modal("hide");
    e.preventDefault? e.preventDefault() : e.returnValue = false; 
    $("#modal-sign-in").modal("show");
  });

  // sign-up click
  $(".sign-up").click(function(e) {
    $("#modal-sign-in").modal("hide");
    e.preventDefault? e.preventDefault() : e.returnValue = false;
    $("#modal-sign-up").modal("show");
  });

  // check username exist?
  $("#user_username").change(function(e){
    e.preventDefault ? e.preventDefault() : e.returnValue = false;
    var options = {
            url: "<%= users_if_user_exist_path %>",
            method: "get",
            dataType: "json",
            data: {username:$("#user_username").val()},
            success: function(data) {
              console.log("can register");
              $("#form-new-user .alert").text("");
              return true;
            },
            error: function(data){
              console.log("already exist");
              $("#form-new-user .alert").text("Username already registered, please try another one.");
              return false;
            }};
    $.ajax(options);           
  });


  // new-story click
  $("#new-story").click(function(e) {
    e.preventDefault? e.preventDefault() : e.returnValue = false;
     $("#modal-new-story").modal("show");
    /*<% if user_signed_in? %>
      $("#modal-new-story").modal("show");
    <% else %>
      $("#modal-sign-in").modal("show");
    <% end %>
    */
  });

  // new-story-node click
  $("#new-story-node").click(function(e) {
      e.preventDefault? e.preventDefault() : e.returnValue = false;
      $("#modal-new-story-node").modal("show");
      /*
      <% if user_signed_in? %>
        $("#modal-new-story-node").modal("show");
      <% else %>
        $("#modal-sign-in").modal("show");
      <% end %>
      */
  });

  // new-node click
  $("#new-story-node").click(function(e){
     e.preventDefault? e.preventDefault() : e.returnValue = false;
     $("#modal-new-story-node").modal("show");
     /*
    <% if user_signed_in? %>
      $("#modal-new-story-node").modal("show");
    <% else %>
      $("#modal-sign-in").modal("show");
    <% end %>
    */
  });

  // modal data clear
  $(".modal").on('hidden.bs.modal', function () {
    console.log("modal hidden");
    $(this).data('bs.modal', null);
  });


  // form validate
  $("#form-new-user").validate({
    rules: {
        "user[username]": {
            required: true
        },
        "user[password]": {
          required: true,
          minlength: 3
        },
        "user[password_confirmation]": {
          required: true,
          minlength: 3,
          equalTo: "#user_password"
        }
    },

    highlight: function(element) {
        $(element).closest(".form-group").addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },

    errorElement: 'span',
    errorClass: 'help-block',
    errorPlacement: function(error, element) {
        if(element.parent('.input-group').length) {
            error.insertAfter(element.parent());
        } else {
            error.insertAfter(element);
        }
    },
    submitHandler: function(form) {
        //jQuery(form).ajaxSubmit(options);
        form.submit();
    }
  });

  $("#new-session").validate({
      submitHandler: function(form) {
          var options = {
              dataType: 'json',
              success: function(data) {
                console.log(data);
                $("#modal-sign-in").modal("hide");

                // OPTIMIZE ME
                /*content = '<span>Hello: ' + data.username + '</span><a href="/users/' + data.id + '/stories" class="inset">My Stories</a><a data-confirm="Are you sure to sign out?" data-method="delete" href="/users/sign_out" rel="nofollow">Sign out</a>';

                $(".login-or-reg").html(content);*/
                location.reload(location.href);
              },
              error: function(data) {
                $("#new-session .alert").text("Invalid username or password");
              }
          };
          jQuery(form).ajaxSubmit(options);
      }
  });

  



  $("#form-new-story").validate({
      rules: {
              "story[story_content]": {
                  required: true,
                  maxlength: 500,
                  minlength: 50
              },
      },

      highlight: function(element) {
          $(element).closest(".form-group").addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
      },

      errorElement: 'span',
      errorClass: 'help-block',
      errorPlacement: function(error, element) {
          if(element.parent('.input-group').length) {
              error.insertAfter(element.parent());
          } else {
              error.insertAfter(element.parent());
          }
      },

      submitHandler: function(form) {
       // $("#modal-new-story").modal("hide");
        $("#modal-new-story").slideUp('slow');
        // todo  Be deeply grateful word filter

         form.submit();
  	 
				 
      } 
  });
})
 
</script>

</html>
