<div class="comments container-fluid">

    <!-- list comments -->
    <h2>Comments</h2>

    <div id="comment-list">

      <% @node.comments.each do |comment| %>
        <p>
          <strong>Commenter:</strong>
          <span class="comment">
            <% if comment.user_id == -1 %>
             Anonymous
            <% else %>
             <%= comment.user.username  %>
            <% end %>
          </span>
        </p>
        <p>
          <strong>Comment:</strong>
          <span class="comment"><%= comment.content %></span>
        </p>
      <% end %>

    </div>

    <!-- add comment -->
    <h2>Add a comment:</h2>
    <%= form_for([@node.story, @node, @node.comments.build], remote: true, authenticity_token: true) do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <div class="input-group">
          <%= f.text_area :content,  rows: 5, cols: 50, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <%= f.button "Submit", id: "btn-comment", class: "form-control" %>
        </div>
      </div>
    <% end %>
  </div>