<div class="modal fade" id="modal-new-story-node" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="myModalLabel">Continue a story</h4>
      </div>

        <% if @node.nil? %>

            <%= form_tag("#{@story.id}/nodes", remote: true, :authenticity_token => true, id: "form-new-story-node") do %>

             <div class="modal-body text-center">

             <div class="form-group">
              <div class="input-group">
                <%= text_area_tag 'node[content]', nil, class: "form-control", rows: 10, cols: 120, placeholder: @story.story_content %>
              </div>
            </div>

          </div>

          <div class="modal-footer" align="center">
            <div class="form-group">
              <button type="button" class="btn btn-default text-center" data-dismiss="modal">close</button>
              <%= submit_tag "Submit", class: "btn btn-primary", id: "btn-new-story-node" %>
            </div>
          <% end %>


        <% else %>

            <%= form_tag("#{@node.id}/follow_up", 
                                          remote: true, :authenticity_token => true, 
                                          id: "form-new-story-node") do %>
               <div class="modal-body text-center">

               <div class="form-group">
                <div class="input-group">
                  <%= text_area_tag 'node[content]', nil, class: "form-control", 
                          rows: 10, cols: 120, placeholder: @node.content %>
                </div>
              </div>

            </div>

            <div class="modal-footer" align="center">
              <div class="form-group">
                <button type="button" class="btn btn-default text-center" data-dismiss="modal">close</button>
                <%= submit_tag "Submit", class: "btn btn-primary", id: "btn-new-story-node" %>
              </div>
          <% end %>


        <% end %>
      </div>
    </div>
  </div>
</div>
