<div class="demo">
  <%= render "welcome/nav2" %>
  <div class="container-fluid">

    <%= render "users/registrations/modal" %>
    <%= render "users/sessions/modal" %>
    <%= render "modal", object: @node %>

    <h1 class="pager page-title">Story <%= @node.story.id %></h1>
    <div class="view-line"></div>
    <h2 class=" pagination">Chapter <%= @node.level %><small>(Author: <%= @node.user.username %>)</small></h2>
    <div class="row story-container">
      <div class="col-md-12">
        <p class="story-con-p">

          <%= @node.content %>
           
        </p>
      </div>
    </div>
    <div id="node-content" class="row-fluid text-center">
      
      <div id="op-rate">

        <%= form_for :node, url: {action: "rate"}, remote: true, html: {id: "rate_story_node_#{@node.id}" } do |f| %>
            <%= f.button id: "btn-rate", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-thumbs-up" style="vertical-align: middle"></span> rate
            <% end %>
        <% end %>

      </div>
      <div id="nav">
        <% if prev?(@node) %>
          <%= link_to 'Prev', story_node_path(@story, to_prev(@node)) %>
        <% else %>
          <span style="color:#e6e6e6">Prev</span>
        <% end %>

        <%= link_to 'Back', story_path(@story) %>

        <% if next?(@node) %>
          <%= link_to 'Next', story_node_path(@story, to_next(@node)) %>
        <% else %>
          <span style="color:#e6e6e6">Next</span>
        <% end %>
      </div>
      <div id="op-write">
        <a href="#" id="new-story-node">Continue the story</a>
      </div>
    </div>
  <div class="view-line"></div>
  </div>
  <!--container-->
</div><!-- demo -->

<script type="text/javascript">
  
  $(function(){

    // rate click
    $("#btn-rate").click(function(e){

      e.preventDefault();
      var form_id = "#rate_story_node_<%= @node.id %>"
      var options = {
          dataType: "json",
          success: function(data) {
            popup("+1", $("#btn-rate"));
          }
      };

      $(form_id).ajaxForm(options).submit();

      return true;

    });
  })


</script>