<p id="notice"><%= notice %></p>

<p>
  <strong>Story:</strong>
  <%= @user_action.story_id %>
</p>

<p>
  <strong>Node:</strong>
  <%= @user_action.node_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_action.user_id %>
</p>

<p>
  <strong>Action type:</strong>
  <%= @user_action.action_type %>
</p>

<%= link_to 'Edit', edit_user_action_path(@user_action) %> |
<%= link_to 'Back', user_actions_path %>
