<%= form_for [@story, @node], url: story_nodes_path do |f| %>

  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <div class="input-group">
      <%= f.text_area :content, class: "form-control", rows: 10, cols: 100, id: "node-content", placeholder: @story.story_content %>
    </div>
  </div>
  <div class="form-group">
      <input type="reset"  value="Reset" class="btn btn-primary">
      <%= f.submit "Commit", class: "btn btn-primary", id: "btn-submit" %>
  </div>

<% end %>
