<p id="notice"><%= notice %></p>

<p>
  <strong>Story:</strong>
  <%= @statistic.story_id %>
</p>

<p>
  <strong>Node:</strong>
  <%= @statistic.node_id %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @statistic.reading %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @statistic.rating %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
